
div.board {
    display: flex;
    width: 650px;
    height: 400px;
    background-color: rgb(41, 41, 253);
    margin-left: auto;
    margin-right: auto;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
}

.divСolumn1 {
    position: relative;
    background-color: #d0cece;
    margin: 5px 2px auto 2px;
    padding: 0px 5px;
    width: 200px;
    height: auto;
}

.divСolumn2 {
    position: relative;
    background-color: #d0cece;
    margin: 5px 3px auto 3px;
    padding: 0px 5px;
    width: 210px;
    height: auto;
}

.divСolumn3 {
    position: relative;
    background-color: #d0cece;
    margin: 5px 2px auto 2px;
    padding: 0px 5px;
    width: 210px;
    height: auto;
}

p.title {
    margin: 0px;
    padding-left: 20px;
}

p.addLink {
    margin: 0px;
    padding-left: 10px;
    cursor: pointer;
}

      /* #FFFFFF; */

div.block {
    height: 20px;
    background-color: #d8d7d7;

    /* border: 1px solid black; */
    /* background-color: #FFFFFF; */
}